*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(219,226,226);
}
.row{
   
    border-radius: 3px;
    box-shadow: 47px 12px 23px grey;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background:white;
    border: 1px solid;
    color: black;
}

.show-error {
    display:block;
}
